:root {
    --color-gray: #969BAB;
    --color-secondary: #18191F;
    --color-accent: #e74c3c; /* Rojo */
    --color-white: white; /* Gris claro */
    --color-blue: #1947E5;
    --color-blue-light: #2CC8F9;
    --color-blue-join: #D6FCF7;
    --color-orange: #F95A2C;
    --color-pink: #FF89BB;
    --color-yellow: #FFBD12;
}

header h1 {
    margin-top: 37px;
    margin-left: 320px;
    margin-bottom: 33px;
    font-size: 4rem;
}

.profile-container {
    margin-left: 440px;
}

header h2 {
    margin-left: 398px;
}

.input-box {
    margin-left: 270px;
}

footer button {
    width: 25rem;
    margin-left: 377px;
    margin-top: 30px;
}