:root {
    --color-gray: #969BAB;
    --color-secondary: #18191F;
    --color-accent: #e74c3c; /* Rojo */
    --color-white: white; /* Gris claro */
    --color-blue: #1947E5;
    --color-blue-light: #2CC8F9;
    --color-blue-join: #D6FCF7;
    --color-orange: #F95A2C;
    --color-pink: #FF89BB;
    --color-yellow: #FFBD12;
}

.profile-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid var(--color-secondary);
    border-radius: 2rem;
}

header {
    margin-top: -2rem;
}

.profile-image {
    width: 100px;
    height: 100px;
}

.camera-icon {
    width: 30px;
    height: 30px;
}

h1 {
    margin-bottom: -1rem;
}

h2 {
    margin-top: -1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-bottom: -1rem;
}

.input-box {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
    border-bottom: 5px solid var(--color-secondary);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}


