:root {
    --color-gray: #969BAB;
    --color-secondary: #18191F;
    --color-accent: #e74c3c; /* Rojo */
    --color-white: white; /* Gris claro */
    --color-blue: #1947E5;
}

.circle {
    width: 32rem;
    height: 32rem;
}

.image {
    position: relative;
    z-index: 1; /* Asegura que esté por encima del círculo */
    max-width: 80%;
    height: 38rem;
    width: 38rem;
}

.container-inicio h1 {
    font-size: 3.7rem;
    margin-bottom: 1rem;
    color: var(--color-gray);

}

/* Párrafo */
.container-inicio p {
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 5rem;
}