:root {
    --color-gray: #969BAB;
    --color-secondary: #18191F;
    --color-red: #F95A2C; /* Rojo */
    --color-white: white;
    --color-blue: #1947E5;
    --color-yellow: #FFBD12;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 1.5rem;
}

.container-header {
    display: flex;
        align-items: center;
        justify-content: center;
        /* Centra el h1 */
        text-align: center;
        /* Asegura que el texto dentro también esté centrado */
        gap: 1rem;
        /* Espaciado entre elementos */
}

.icono-volver {
    font-size: 2.5rem;
    color: black;
}

.container-header h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 1.8rem;
}

main {
    margin-top: 2rem;
}

main p {
    max-width: 90%;
    font-size: 1.6rem;
    margin: 0 auto 1.5rem;
    text-align: center;
}
