:root {
    --color-gray: #969BAB;
    --color-secondary: #18191F;
    --color-accent: #e74c3c;
    --color-white: white;
    --color-blue: #1947E5;
    --color-blue-light: #2CC8F9;
    --color-blue-join: #D6FCF7;
    --color-orange: #F95A2C;
    --color-pink: #FF89BB;
    --color-hover: #a2203d;
    --color-back: #FFBD12
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-pink);
}

.container-name {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuye los elementos en la línea */
    width: 100%;
    padding: 10px 15px;
    background-color: var(--color-background); /* Ajusta el color de fondo según tu diseño */
    margin-bottom: 2rem;
}

.icono-volver {
    font-size: 3rem;
    color: var(--color-secondary);
    cursor: pointer;
}

#deporte-seleccionado {
    font-size: 3rem;
    font-weight: 600;
    text-align: center; /* Asegura que se vea centrado */
    flex-grow: 1; /* Permite que el texto tome el espacio disponible */
}

.chat-icon-container img {
    width: 35px;
    height: 35px;
}

main {
    display: grid;
    grid-template-columns: 1fr; /* 1 columna en móviles */
    gap: 1.5rem;
    padding: 1rem;
    justify-items: center;
}

.participant-card {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--color-back);
    border-radius: 10px;
    border: 2px solid var(--color-secondary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 350px;
    width: 100%; /* Se adapta al contenedor */
}

.participant-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--color-pink);
}

.participant-info {
    display: flex;
    flex-direction: column;
}

.participant-name {
    font-size: 1.7rem;
    font-weight: bold;
    color: #18191F;
}

.participant-number {
    font-size: 1.5rem;
    color: var(--color-white);
}
